<div>
    <center>
    <h1>Enter your details here!</h1>
    <br><br><br>
    Name:<input type="text" ng-model="vm.user.fname">
    <br><br>
    Address:<input type="text" ng-model="vm.user.add">
    <br><br>
    contactno:<input type="number" ng-model="vm.user.no">
    <br><br>
	<timepicker ng-model="mytime"  show-meridian="ismeridian"></timepicker>
    <button ng-click="vm.message()">SUBMIT</button>
    </center>
</div>
<div>
    <center>
    <span ng-show="vm.showmessage">Thankyou,your order has been placed!Push your hunger away with YUMMY PIZZA!</span>
    <a href="#/">back</a>
    </center>
</div>
