 <table class="table" style="width:100%">
 <tr class="danger">
 <th>Customername:</th>
 <th>Delivery address</th>
 <th>Contactno:</th>
 <th>Order</th>
 <th>Delivery status</th>
</tr>
<tr class="success"ng-repeat="pizza in lctrl.details">

<td>{{pizza.fname}}</td>
<td>{{pizza.add}}</td>
<td>{{pizza.no}}</td>
<td><ul ng-repeat="i in pizza.order">
        <li>Pizzaname:{{i.pname}}</li>
         <li>Pizzarate:{{i.rate}}</li>
          <li>Quantity:{{i.qty}}</li>
           <li>Cost:{{i.cost}}</li>
           </ul>
           </td>
           <td><button ng-click="lctrl.delivered(pizza._id)">delivered</button></td>
           </tr>
           </table>
