 <span ng-show="!vm.showmessage1">
 <table class="table" style="width:100%">
 <tr class="danger">
 <th>Customername:</th>
 <th>Delivery address</th>
 <th>Contactno:</th>
 <th>Order</th>
 <th>Delivery status</th>
</tr>
<tr class="success"ng-repeat="pizza in vm.details">

<td>{{pizza.fname}}</td>
<td>{{pizza.add}}</td>
<td>{{pizza.no}}</td>
<td><ul ng-repeat="i in pizza.order">
        <li>Pizzaname:{{i.pname}}</li>
         <li>Pizzarate:{{i.rate}}</li>
          <li>Quantity:{{i.qty}}</li>
           <li>Cost:{{i.cost}}</li>
           </ul>
           </td>
           <td><button ng-click="vm.delivered(pizza._id)">deliver</button></td>
           </tr>
           </table>
           <div class="row" width="100%">
        <div class="col-sm-5"><progressbar value="vm.deliverycount()" max="100">delivered orders</progressbar></div>
     
        <div class="col-sm-5"><progressbar class="progress-striped" value="vm.pendingcount()" type="warning" max="100">pending</progressbar></div>
        </div>
        </span>
        <div>
        <center>
          <span ng-show="vm.showmessage1">No more orders to deliver!</span>
          <a href="#/">back</a>
        </center>
        </div>
